@mixin text-zingrust-67-110-400 {
  font-family: $ff-zingrust;
  font-size: 67px;
  line-height: 110px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-zingrust-35-40-400 {
  font-family: $ff-zingrust;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-zingrust-25-50-400 {
  font-family: $ff-zingrust;
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-gilroy-20-24-500 {
  font-family: $ff-gilroy;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

@mixin text-gilroy-18-21-400 {
  font-family: $ff-gilroy;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

@mixin text-gilroy-14-17-600 {
  font-family: $ff-gilroy;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}

@mixin text-gilroy-14-16-400 {
  font-family: $ff-gilroy;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@mixin text-gilroy-14-15-500 {
  font-family: $ff-gilroy;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
}

@mixin text-gilroy-12-22-400 {
  font-family: $ff-gilroy;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

@mixin text-gilroy-12-15-700 {
  font-family: $ff-gilroy;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

@mixin text-gilroy-12-14-600 {
  font-family: $ff-gilroy;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}

@mixin text-gilroy-12-14-500 {
  font-family: $ff-gilroy;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}
