.menu
  section#cold.menu__wrapper
    h2.menu__title Холодные закуски
    .menu__item.card
  section#hot.menu__wrapper
    h2.menu__title Горячие закуски
    .menu__item.card
  section#meat.menu__wrapper
    h2.menu__title Мясные блюда
    .menu__item.card
