.header {
  padding-top: 23px;
  padding-bottom: 24px;
  position: relative;

  @include mobile {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

.header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: $vp-1920;
  min-width: $vp-375;
  margin: 0 auto;

  align-items: center;

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    row-gap: 10px;
  }
}

.header__logo {
  grid-column: 1 / 3;
  justify-self: center;

  @include tablet {
    grid-column: 2 / 4;
  }

  @include mobile {
    grid-column: 2 / 4;
  }
}

.header__search {
  grid-column: 3 / 8;

  @include tablet {
    grid-column: 4 / 10;
  }

  @include mobile {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
}

.header__call {
  display: grid;
  grid-column: 8 / 11;
  justify-self: start;
  margin-left: 10px;

  @include tablet {
    display: none;
  }
}

.header__button {
  grid-column: 11 / 13;
  justify-self: center;

  @include mobile {
    grid-column: 4 / 5;
    justify-self: end;
  }
}

.header__burger {
  @include text-gilroy-12-15-700;

  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: end;
  width: 37px;
  height: 37px;
  background-color: transparent;
  border: none;
  color: $color-text-base;
  text-transform: uppercase;
  padding: 0;
  margin-top: 2px;
  margin-left: 11px;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @include tablet {
    display: inline-flex;
    grid-column: 1 / 2;
  }
}

.header__nav {
  display: none;
}

.header.menu-opened {
  height: 100vh;
}

.header.menu-opened .header__call {
  @include tablet {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 30px;
    grid-row: 4 / 5;
  }
}

.header.menu-opened .header__burger {
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.header.menu-opened .header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $form-color-border;
  padding-bottom: 30px;
  padding-top: 25px;
  gap: 10px;

  @include tablet {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  @include mobile {
    gap: 0;
  }
}

.scroll .header__button {
  position: fixed;
  top: 10px;
  z-index: 20;
}
//
//.scroll .scroll--cart {
//  &::before {
//    content: "";
//    position: absolute;
//    height: 50px;
//    width: 250px;
//    top: 0;
//    left: -250px;
//    right: 0;
//    background: $gradient-scroll;
//    pointer-events: none;
//  }
//}
