.menu__wrapper {
  min-height: 400px;
  max-width: $vp-1920;
  min-width: $vp-375;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

.menu__title {
  padding-left: 90px;
  padding-right: 90px;
}
