-
  const menu_data = [
    {
      name: "Холодные закуски",
      link: "#cold",
      active: true
    },
    {
      name: "Горячие закуски",
      link: "#hot",
      active: false
    },
    {
      name: "Мясные блюда",
      link: "#meat",
      active: false
    },
    {
      name: "Супы",
      link: "#soup",
      active: false
    },
    {
      name: "Рыбные блюда",
      link: "#fish",
      active: false
    },
    {
      name: "Гриль меню",
      link: "#gril",
      active: false
    },
    {
      name: "Фирменные блюда",
      link: "#signature",
      active: false
    },
    {
      name: "Напитки",
      link: "#drink",
      active: false
    }
  ]
